.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


*{
    text-decoration: none;
    font-family: "outfit", sans-serif;
    background-color: white;

}
header span{
    font-size: 25px;
    font-weight: 600;
    color:#333;
    text-decoration: none;
}
li a{
    color:#333 !important;
    font-size: 18px;
    font-weight: regular;
    margin-right: 50px;
}
button {
    border:0;
    outline:0;
    background:linear-gradient(135deg, #ff8c00, #ff0080);
    border-radius: 40px !important;
    width:200px;
    height:50px;
    cursor: pointer;
    color:white;
    font-size: 16px;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
    padding:70px;
}
.hero span{
    color:#ff0080;
}
.transparent{
    border:2px solid #333;
    background:white;
    color:#333;
}
.transparent:hover{
    background:black;
    border: none;
    color:White;
}
.p-2 a{
    color:#333 !important;
    font-size: 18px;
    font-weight: regular;
    margin-right: 50px;
}
.my-work{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 100px;
}

.my-work h1{
    padding-bottom: 50px;
}
.latest-work {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    padding: 20px; 
}

.card {
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box; 
    max-width: 311px; 
    text-align: center;
}

.card img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: Rounded corners for images */
}

.card-body {
    padding: 15px;
}
.card button{
    margin-top: 20px;
}
.card button:hover{
    background:linear-gradient(135deg, #ff8c00, #ff0080);
    border: none;
    color:White;
}
.connect-with-me{
    display:flex;
    flex-direction:column;
    margin-top: 100px;
    padding: 50px;
    text-align: left;
    align-items: center;
}
.connect-with-me h1{
    margin-bottom: 50px;
}
.contact{
    margin-top:30px; 
    display: flex;  
}

form .form-control {
    border-radius: 8px;
    
}
.hidden {
    display: none;
    margin-top: 10px;
  }
  
  #contact-info {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  