.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }


*{
    text-decoration: none;
    font-family: "outfit", sans-serif;

}
.navbar{
    padding-right: 100px;
    padding-left: 100px;
}
.navdiv{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    font-weight: 600;
    color:#333;
    text-decoration: none;
}
li{
    list-style:none;
    display:inline-block;
}
li a{
    color:#333;
    font-size: 18px;
    font-weight: regular;
    margin-right: 50px;
}
button {
    border:0;
    outline:0;
    background:linear-gradient(135deg, #ff8c00, #ff0080);
    border-radius: 40px !important;
    width:200px;
    height:50px;
    cursor: pointer;
    color:white;
    font-size: 16px;
}
.hero{
    /*background: radial-gradient(circle at bottom, #ff8c00, rgb(252, 252, 244), #fff);*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    padding:100px;
}
.hero img{
   border-radius: 50%;
    
}
.hero p{
    font-size: 30px;
    font-weight: bold;
    padding:40px;
    text-align: center;
}
.hero span{
    color:#ff0080;
}
.hero-button{
    display:flex;
    
}
.my-work{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 100px;
}
.my-work img{
    width:576px;
    height: 432px;
}
.my-work h1{
    padding-bottom: 30px;
}
.connect-with-me{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 100px;
}